In [24]:
import pandas as pd

In [35]:
dataset =  pd.read_csv("Air-Quality.csv", sep=",")

First, we read in the dataset. Here is an example of the contents of the dataset:

In [36]:
dataset.sample(10)

,_id,date,site,parameter,index_value,description,health_advisory,health_effects
53204,57274,2022-07-29,Liberty 2,PM25T,43,Good,NaN,NaN
7731,7732,2016-12-22,Parkway East,CO,11,Good,NaN,NaN
15246,15247,2017-11-25,North Braddock,SO2,92,Moderate,NaN,NaN
55511,63077,2022-11-12,North Braddock,SO2,0,Good,NaN,NaN
22293,22294,2018-10-03,Lawrenceville 2,SO2,0,Good,NaN,NaN
28587,28588,2019-06-26,West Mifflin,SO2,6,Good,NaN,NaN
54016,58843,2022-09-04,Lawrenceville,OZONE,31,Good,NaN,NaN
62313,73166,2023-09-19,Glassport High Street,PM10,14,Good,NaN,NaN
15996,15997,2017-12-27,Lawrenceville 2,SO2,2,Good,NaN,NaN
44565,44566,2021-06-10,Avalon,PM25T,43,Good,NaN,NaN

To find the best neighborhood in Pittsburgh with the metric of air quality, we will be evaluating the Air Quality Index for each parameter. The Air Quality Index(AQI) is a standard measurement developed by government agencies to communicate to the public how polluted the air is. The higher the number, the more polluted the air is. 

As you can see, there are different parameters and AQI measurements for each. Examples of this include ozone, CO, NO2, and SO2. 

The most dangerous air pollutant is NO2, Nitrogen Oxides. However, the top 5 most dangerous are NO2, Particulate Matter (PM10 and PM2.5), Ozone, Carbon Monoxide (CO), and Sulfur Dioxide (SO2).

We will be evaluating the best neighborhood by this metric to see which neighborhood has the lowest average AQI for all five types of air pollutants.

In [64]:
#sort by NO2
NO2_query = dataset['parameter'] == "NO2"

#sort by indices less than 10
lessThanTen_query = dataset['index_value'] < 10


#find both these qualities in dataset items
items = dataset[NO2_query & lessThanTen_query]

#sort by index value
sortedItems= items.sort_values(by='index_value')

#sort by unique site names
unique_query= sortedItems['site'].unique()

#print the sites with the lowest NO2 scores that are unique
print(unique_query)

['Harrison Township' 'Parkway East']

## The two neighborhoods with the lowest Nitrogen Oxide scores are: 
1. Harrison Township
2. Parkway East