In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Air-Quality.csv", sep=",")

First, we read in the dataset. Here is an example of the contents of the dataset:

In [3]:
dataset.sample(10)

,_id,date,site,parameter,index_value,description,health_advisory,health_effects
48319,49025,2021-12-07,Parkway East,PM25T,36,Good,NaN,NaN
12617,12618,2017-07-31,South Fayette,OZONE,54,Moderate,Unusually sensitive people should consider red...,Unusually sensitive individuals may experience...
39753,39754,2020-10-19,Lawrenceville,OZONE,11,Good,NaN,NaN
54620,60130,2022-10-02,Avalon,PM25_640,18,Good,NaN,NaN
41839,41840,2021-01-29,Avalon,PM25T,25,Good,NaN,NaN
2103,2104,2016-04-09,Harrison Township,OZONE,35,Good,NaN,NaN
11382,11383,2017-06-06,Lawrenceville 2,CO,2,Good,NaN,NaN
31365,31366,2019-10-16,Flag Plaza,PM10,18,Good,NaN,NaN
19808,19809,2018-06-14,Flag Plaza,PM10,21,Good,NaN,NaN
46967,46968,2021-10-03,Pittsburgh,PM25_640,54,Moderate,Unusually sensitive people should consider red...,Respiratory symptoms possible in unusually sen...

To find the best neighborhood in Pittsburgh with the metric of air quality, we will be evaluating the Air Quality Index for each parameter. The Air Quality Index(AQI) is a standard measurement developed by government agencies to communicate to the public how polluted the air is. The higher the number, the more polluted the air is. 

As you can see, there are different parameters and AQI measurements for each. Examples of this include ozone, CO, NO2, and SO2. 

The most dangerous air pollutant is NO2, Nitrogen Oxides. However, the top 5 most dangerous are NO2, Particulate Matter (PM10 and PM2.5), Ozone, Carbon Monoxide (CO), and Sulfur Dioxide (SO2).

We will be evaluating the best neighborhood by this metric to see which neighborhood has the lowest average AQI for all five types of air pollutants.

In [4]:
#sort by NO2
NO2_query = dataset['parameter'] == "NO2"

#sort by indices less than 10
lessThanTen_query = dataset['index_value'] < 10


#find both these qualities in dataset items
items = dataset[NO2_query & lessThanTen_query]

#sort by index value
sortedItems= items.sort_values(by='index_value')

#sort by unique site names
unique_query= sortedItems['site'].unique()

#print the sites with the lowest NO2 scores that are unique
print(unique_query)

['Harrison Township' 'Parkway East']

## The two neighborhoods with the lowest Nitrogen Dioxide scores are: 
1. Harrison Township
2. Parkway East

## Now, let's do the same for the other pollutant types

In [5]:
#sort by SO2
SO2_query = dataset['parameter'] == "SO2"

#sort by indices less than 10
lessThanTenSO2_query = dataset['index_value'] < 10


#find both these qualities in dataset items
itemSO2 = dataset[SO2_query & lessThanTenSO2_query]

#sort by index value
sortedItemSO2= itemSO2.sort_values(by='index_value')

#sort by unique site names
uniqueSO2_query= sortedItemSO2['site'].unique()

#print the sites with the lowest SO2 scores that are unique
print(uniqueSO2_query)

['Avalon' 'North Braddock' 'South Fayette' 'Liberty' 'West Mifflin'
 'Lawrenceville 2' 'Clairton']

## The neighborhoods with the lowest Sulfur Dioxide scores are: 
1. Avalon
2. North Braddock
3. South Fayette
4. Liberty
5. West Mifflin
6. Lawrenceville
7. Clairton

We can see this with the following:

In [8]:
sortedItemSO2.head(10)

,_id,date,site,parameter,index_value,description,health_advisory,health_effects
19151,19152,2018-05-15,Avalon,SO2,0,Good,NaN,NaN
13181,13182,2017-08-25,Avalon,SO2,0,Good,NaN,NaN
13187,13188,2017-08-25,North Braddock,SO2,0,Good,NaN,NaN
27887,27888,2019-05-28,Avalon,SO2,0,Good,NaN,NaN
50356,52513,2022-03-18,South Fayette,SO2,0,Good,NaN,NaN
13198,13199,2017-08-26,Avalon,SO2,0,Good,NaN,NaN
50324,52451,2022-03-12,North Braddock,SO2,0,Good,NaN,NaN
13202,13203,2017-08-26,North Braddock,SO2,0,Good,NaN,NaN
50315,52442,2022-03-09,North Braddock,SO2,0,Good,NaN,NaN
13216,13217,2017-08-27,Avalon,SO2,0,Good,NaN,NaN

In [35]:
#sort by CO
CO_query = dataset['parameter'] == "CO"

#sort by indices less than 10
lessThanTenCO_query = dataset['index_value'] < 10


#find both these qualities in dataset items
itemCO = dataset[CO_query & lessThanTenCO2_query]

#sort by index value
sortedItemCO= itemCO.sort_values(by='index_value')

#sort by unique site names
uniqueCO_query= sortedItemCO['site'].unique()
#print the sites with the lowest SO2 scores that are unique
print(uniqueCO_query)

['Flag Plaza' 'Parkway East' 'Lawrenceville 2' 'North Braddock']

## The neighborhoods with the lowest Carbon Monoxide scores are: 
1. Flag Plaza
2. Parkway East
3. Lawrenceville
7. North Braddock

In [22]:
#sort by ozone
ozone_query = dataset['parameter'] == "OZONE"

#sort by indices less than 10
lessThanTenOzone_query = dataset['index_value'] < 100


#find both these qualities in dataset items
itemOzone = dataset[ozone_query & lessThanTenOzone_query]

#sort by index value
sortedItemOzone= itemOzone.sort_values(by='index_value')

#sort by unique site names
uniqueOzone_query= sortedItemOzone['site'].unique()
#print the sites with the lowest SO2 scores that are unique
print(uniqueOzone_query)

['Harrison Township' 'Lawrenceville' 'South Fayette']

## The neighborhoods with the lowest ozone scores are: 
1. Harrison Township
2. Lawrenceville
3. South Fayette

In [37]:
#sort by PM
PM_query = dataset['parameter'].str.contains("PM")

#sort by indices less than 10
lessThanTenPM_query = dataset['index_value'] < 10


#find both these qualities in dataset items
itemPM = dataset[PM_query & lessThanTenPM_query]

#sort by index value
sortedItemPM= itemPM.sort_values(by='index_value')

#sort by unique site names
uniquePM_query= sortedItemPM['site'].unique()
#print the sites with the lowest SO2 scores that are unique
print(uniquePM_query)

['Flag Plaza' 'Lawrenceville' 'Liberty 2' 'Glassport High Street'
 'Lincoln' 'North Braddock' 'Pittsburgh' 'Clairton' 'Avalon'
 'Parkway East']

## The neighborhoods with the lowest particulate matter scores are: 
1. Flag Plaza
2. Lawrenceville
3. Liberty
4. Glassport High Street
5. Lincoln
6. North Braddock
7. Pittsburgh
8. Clairton
9. Avalon
10. Parkway East

## Lastly, instead of doing individual metrics for each pollutant, we can also calculate the average overall AQI for each neighborhood.

In [19]:
uniqueCities = dataset['site'].unique()

for i in uniqueCities:
    nameQuery = dataset[dataset['site'].str.contains(i, case=False)]
    averageIndex = nameQuery['index_value'].mean()
    print(i, "average AQI: ", "{:.2f}".format(averageIndex))

Lawrenceville average AQI:  18.13
Flag Plaza average AQI:  9.95
Harrison Township average AQI:  24.29
Avalon average AQI:  23.49
Lincoln average AQI:  35.11
South Fayette average AQI:  22.70
North Braddock average AQI:  18.78
Parkway East average AQI:  21.90
Liberty 2 average AQI:  32.46
Lawrenceville 2 average AQI:  3.06
Glassport High Street average AQI:  17.45
Liberty average AQI:  27.75
Clairton average AQI:  25.84
West Mifflin average AQI:  6.34
Pittsburgh average AQI:  26.13

## The neighborhoods with the lowest average AQI's are:

1. Lawrenceville 
2. West Mifflin
3. Flag Plaza
4. Glassport High Street
5. North Braddock